.gitattributes   zos-working-tree-encoding=iso8859-1
.gitignore       zos-working-tree-encoding=iso8859-1

*.md git-encoding=UTF8 zos-working-tree-encoding=ibm-1047
*.PACK binary
*.SPACK binary
ZOSBINARY !eol zos-working-tree-encoding=ibm-1047
ZOSTEXT !eol zos-working-tree-encoding=UTF-8
